body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(26, 33, 42);
}
svg {
    width: 200px;
    height: 200px;
}

.circle {
    stroke: rgb(255, 255, 255);
    stroke-width: 5px;
    fill: none;
    
}

.wave {
    stroke: rgb(255, 255, 255);
    stroke-width: 5px;
    fill: none;
}